@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col gap-4 text-center my-auto mx-auto">
    <h1>Welcome</h1>
    <p>Please <a class="underline" href="/Auth/Login">Login</a> or <a class="underline" href="/Auth/SignIn">Sign-In</a>
        To Use Programme</p>
</div>
