@model VM.Student


@if (Model.IsAdded)
{
    <h4>Student : @Model.Name @Model.LastName added succesfully</h4>
}
<h1>Add Student</h1>
<form action="/Student/Add" method="post" class="flex flex-col gap-4 p-4">
    <div class="flex gap-4">
        <div class="flex flex-col">
            <label asp-for="Name" class="font-bold">Name</label>
            <input type="text" asp-for="Name" placeholder="Name" class="p-2 border rounded shadow-lg" required>
        </div>
        <div class="flex flex-col">
            <label asp-for="LastName" class="font-bold">Last Name</label>
            <input type="text" asp-for="LastName" placeholder="Last Name" class="p-2 border rounded shadow-lg" required>
        </div>
    </div>

    <div class="flex gap-4">
        <div class="flex flex-col">
            <label asp-for="Email" class="font-bold">E-Mail</label>
            <input type="email" asp-for="Email" placeholder="Email" class="p-2 border rounded shadow-lg" required>
        </div>
        <div class="flex flex-col">
            <label asp-for="Phone" class="font-bold">Phone</label>
            <input type="text" asp-for="Phone" placeholder="Phone" class="p-2 border rounded shadow-lg" required
                pattern="[0-9]+" title="Enter a valid phone number">
        </div>
    </div>

    <div class="flex gap-4">
        <div class="flex flex-col">
            <label asp-for="CitizenshipId" class="font-bold">Citizenship ID</label>
            <input type="text" asp-for="CitizenshipId" placeholder="Citizenship ID" class="p-2 border rounded shadow-lg"
                required pattern="[0-9]+" title="Enter a valid ID">
        </div>
        <div class="flex flex-col w-full">
            <label asp-for="BirthDate" class="font-bold">Birth Date</label>
            <input type="date" asp-for="BirthDate" class="w-full p-2 border rounded shadow-lg" required>
        </div>
    </div>
    <button type="submit" class="px-4 py-2 text-white rounded bg-navyBlue">Save Student</button>
</form>
